/* FONDO GENERAL */
.page-container {
  background-color: #dadada;
  min-height: 100vh;
  width: 100%;
  padding-bottom: 40px;
}

/* ENCABEZADO */
.toolbar {
  background-color: #f4a300;
  padding: 0 20px;
}

.logo-area {
  display: flex;
  align-items: center;
  gap: 8px;
}

.logo-area img {
  height: 60px;
  margin-bottom: 5px;
}

.logo-area span {
  font-family: 'Sundae Ice', sans-serif;
  color: white;
  font-size: 24px;
}

.title {
  font-size: 24px;
  font-weight: bold;
}

.spacer {
  flex: 1 1 auto;
}

.shopping_cart {
  font-size: 28px;
  color: white;
}

.user-btn mat-icon {
  margin-right: 5px;
  color: white;
}

/* BOTÓN VOLVER */
.btn-volver {
  margin: 20px;
  margin-left: 40px;
  font-weight: bold;
  color: white !important;
  background-color: #f6a700 !important;
}


.search-container {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.example-full-width {
  width: 650px !important;
  background: #dadada;
  padding: 0 10px;
  border-radius: 10px;
}

/* BOTÓN REGISTRAR */
.btn-registrar {
  margin: 20px;
  font-weight: bold;
  color: white !important;
  background-color: #f6a700 !important;
}

/* TÍTULO CENTRAL */
.titulo {
  font-size: 60px;
  text-align: center;
  font-family: 'Sundae Ice', sans-serif;
  margin-top: 10px;
  margin-bottom: 15px;
  font-weight: bold;
}

/* CONTENEDOR DE TABLA */
.table-container {
  width: 90%;
  margin: 0 auto;
  background: white;
  border-radius: 12px;
  padding: 10px;
}

/* TABLA */
.styled-table {
  width: 100%;
  border-collapse: collapse;
}

.styled-table th {
  background-color: #f6a700;
  color: white;
  font-weight: bold;
  text-align: center;
  padding: 12px;
  font-size: 16px;
}

.styled-table td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
  font-size: 15px;
}

/* BOTONES EDITAR Y ELIMINAR */
.btn-editar {
  background: #ffeaa7;
  padding: 6px 15px;
  border-radius: 10px;
  border: none;
  color: black;
  cursor: pointer;
}

.btn-eliminar {
  background: #ff7675;
  padding: 6px 15px;
  border-radius: 10px;
  border: none;
  color: white;
  cursor: pointer;
}

/* Aplicado al <div> contenedor principal */
.contenedor-botones {
  display: flex; /* Activa Flexbox */
  justify-content: space-between; /* Manda el primer elemento (o grupo) a la izquierda y el último (o grupo) a la derecha */
  align-items: center; /* Opcional: Centra verticalmente los elementos si tienen alturas diferentes */
  width: 100%; /* Asegura que ocupe todo el ancho disponible */
}

/* Opcional: Añade un pequeño espacio entre los botones del grupo de la derecha */
.botones-derecha button {
    margin-left: 10px; /* Espacio horizontal entre los botones "Registrar" y "Tiendas del año actual" */
}