/* FONDO GENERAL */
.page-container {
  background-color: #dadada;
  min-height: 100vh;
  width: 100%;
  padding-bottom: 40px;
}

/* ENCABEZADO */
.header {
  background-color: #f6a700;
  color: white;
}

.title {
  font-size: 20px;
  font-weight: bold;
}

.spacer {
  flex: 1 1 auto;
}

.logout-btn {
  color: white;
  font-weight: bold;
}

/* BOTÓN VOLVER */
.btn-volver {
  margin: 20px;
  background-color: #f6a700;
  color: white;
  font-weight: bold;
}

/* TÍTULO CENTRAL */
.titulo {
  text-align: center;
  font-size: 28px;
  margin-top: 10px;
  font-weight: bold;
}

/* FORMULARIO */
.form-container {
  width: 60%;
  margin: 30px auto;
  padding: 25px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.full-width {
  width: 100%;
}

.btn-registrar {
  margin-top: 20px;
  width: 100%;
  background-color: #f6a700;
  color: white;
  font-weight: bold;
}
