/* FONDO GENERAL */
.page-container {
  background-color: #dadada;
  min-height: 100vh;
  width: 100%;
  padding-bottom: 40px;
}

/* ENCABEZADO */

.menu-btn {
  margin-right: 15px;
}

/* Top bar */
.toolbar {
  background-color: #f4a300;
  padding: 0 20px;
}

.logo-area {
  display: flex;
  align-items: center;
  gap: 8px;
}

.logo-area img {
  height: 60px;
  margin-bottom: 5px;
}

.logo-area span{
  font-family: 'Sundae Ice', sans-serif;
  color: white;
}

.btc-icon {
  font-size: 28px;
}

.title {
  font-size: 24px;
  font-weight: bold;
}

.spacer {
  flex: 1 1 auto;
}

/* User button */
.user-btn mat-icon {
  margin-right: 5px;
}


.spacer {
  flex: 1 1 auto;
}

/* BOTÓN VOLVER */
.btn-volver {
  margin: 20px;
  font-weight: bold;
}

.btn-volver[mat-raised-button] {
  color: rgb(238, 244, 241);
  background-color: #f6a700;
}

/* BOTÓN Registrar */
.btn-registrar {
  margin: 20px;
  font-weight: bold;
}

.btn-registrar[mat-raised-button] {
  color: rgb(238, 244, 241);
  background-color: #f6a700;
}

/* TÍTULO CENTRAL */
.titulo {
  text-align: center;
  font-size: 60px;
  margin-top: 10px;
  font-weight: bold;
  font-family: "Sundae ice";
}