<section class="use-section">
  <div class="use-header" style="width: 100%;">
    <p class="join-text">¿Quieres formar parte de la familia BESTPRICE?</p>
    <a class="join-btn" href="#">ÚNETENOS</a>
  </div>

  <h2 class="title">¿Cómo se usa?</h2>
  <p class="subtitle">
    A continuación, se les mostrará las instrucciones de cómo usar
    <span class="highlight">BestPrice</span>
  </p>

  <div class="steps-container">
    <!-- Paso 1 -->
    <div class="step-card">
      <p><strong>Paso 1:</strong></p>
      <p>
        Selecciona el producto de tu interés para comparar su precio en las
        diferentes tiendas.
      </p>
      <img src="" alt="Paso 1" />
    </div>

    <!-- Paso 2 -->
    <div class="step-card">
      <p><strong>Paso 2:</strong></p>
      <p>
        Dentro del producto, puedes ubicar el menor precio, y una lista con precios de otras tiendas.
      </p>
      <img src="assets/img/paso2.png" alt="Paso 2" />
    </div>

    <!-- Paso 3 -->
    <div class="step-card">
      <p><strong>Paso 3:</strong></p>
      <p>
        Haz click en el corazón para indicar que quieres seguir este producto.
      </p>
      <img src="assets/img/paso3.png" alt="Paso 3" />
    </div>
  </div>
</section>
