.testimonios-section {
  background-color: #d7d4df;
  text-align: center;
  padding: 5rem 2rem;
  font-family: 'Poppins', sans-serif;
  color: #2e2e2e;
}

.main-title {
  color: #d32f2f;
  font-weight: bold;
  font-size: 2rem;
  text-decoration: underline;
  margin-bottom: 1rem;
}

.subtitle {
  font-size: 1.3rem;
  margin-bottom: 3rem;
}

.testimonios-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}

.cards-container {
  display: flex;
  gap: 2rem;
  justify-content: center;
  flex-wrap: wrap;
}

.testimonio-card {
  background-color: white;
  border-radius: 20px;
  width: 300px;
  height: 400px;
  transition: transform 0.3s;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.testimonio-card.active {
  transform: scale(1.05);
}

.testimonio-top {
  background-color: white;
  border-radius: 20px 20px 0 0;
  padding: 1rem;
  position: relative;
}

.testimonio-top mat-icon {
  font-size: 60px;
  color: #424242;
}

.nombre {
  font-weight: bold;
  margin-top: 0.5rem;
}

.rating {
  position: absolute;
  top: 10px;
  right: 15px;
  font-weight: bold;
}

.testimonio-bottom {
  background-color: #f5a300;
  border-radius: 0 0 20px 20px;
  padding: 1rem;
  color: black;
  height: 230px;
  font-weight: 700;
  font-size: 1rem;
  
}

button[mat-fab] {
  background-color: #f5a300 !important;
  color: black;
}
