<div class="page-container">
  <!-- ENCABEZADO -->
  <mat-toolbar color="primary" class="toolbar">
    <div class="logo-area">
      <button mat-icon-button class="Menu-Desplegable" aria-label="Menú">
        <mat-icon>menu</mat-icon>
      </button>
      <img src="assets/images/Menu_LogoBestPrice.png" alt="Logo" />
      <span class="title">BESTPRICE</span>
    </div>

    <span class="spacer"></span>

    <button mat-icon-button class="Canasta" aria-label="Carrito">
      <mat-icon aria-hidden="false" fontIcon="shopping_cart">shopping_cart</mat-icon>
    </button>

    <mat-menu #userMenu="matMenu">
      <button mat-menu-item routerLink="/perfil"><mat-icon>person</mat-icon> Perfil</button>
      <button mat-menu-item routerLink="/favorites"><mat-icon>favorite</mat-icon> Favoritos</button>
      <button mat-menu-item routerLink="/historial"><mat-icon>history</mat-icon> Historial</button>
      <button mat-menu-item routerLink="/ajustes"><mat-icon>settings</mat-icon> Ajustes</button>
      <button mat-menu-item routerLink="/login" (click)="cerrar()">
        <mat-icon>logout</mat-icon> Cerrar sesión
      </button>
    </mat-menu>
  </mat-toolbar>

  <!-- BOTONES SUPERIORES -->
  <div class="top-buttons">
    <button mat-raised-button class="btn-volver" routerLink="/menu">
      <mat-icon>arrow_back_ios</mat-icon>Volver
    </button>
  </div>

  <!-- TÍTULO -->
  <h1 class="titulo">Lista de Respuestas</h1>

  <!-- TABLA -->
  <div class="form-container">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 full-width">

      <!-- No. -->
      <ng-container matColumnDef="c1">
        <th mat-header-cell *matHeaderCellDef>No.</th>
        <td mat-cell *matCellDef="let element">{{ element.idTicketRes }}</td>
      </ng-container>

      <!-- Detalle -->
      <ng-container matColumnDef="c2">
        <th mat-header-cell *matHeaderCellDef>Detalle</th>
        <td mat-cell *matCellDef="let element">{{ element.detalle }}</td>
      </ng-container>

      <!-- Fecha Creación -->
      <ng-container matColumnDef="c3">
        <th mat-header-cell *matHeaderCellDef>Fecha de Creación</th>
        <td mat-cell *matCellDef="let element">
          {{ element.createdAt | date:'yyyy-MM-dd' }}
        </td>
      </ng-container>

      <!-- Reporte -->
      <ng-container matColumnDef="c4">
        <th mat-header-cell *matHeaderCellDef>Reporte</th>
        <td mat-cell *matCellDef="let element">{{ element.ticket_reporte.id_ticket_rep }}</td>
      </ng-container>

      <!-- Usuario -->
      <ng-container matColumnDef="c5">
        <th mat-header-cell *matHeaderCellDef>Usuario</th>
        <td mat-cell *matCellDef="let element">{{ element.usuario.nombre }}</td>
      </ng-container>

      <!-- Actualizar -->
      <ng-container matColumnDef="c6">
        <th mat-header-cell *matHeaderCellDef>Actualizar</th>
        <td mat-cell *matCellDef="let element">
          <button matButton [routerLink]="['edits', element.idTicketRes]">
            <mat-icon>edit</mat-icon>
          </button>
        </td>
      </ng-container>

      <!-- Eliminar -->
      <ng-container matColumnDef="c7">
        <th mat-header-cell *matHeaderCellDef>Eliminar</th>
        <td mat-cell *matCellDef="let element">
          <button matButton (click)="eliminar(element.idTicketRes)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <mat-paginator
        [length]="100"
        [pageSize]="10"
        [pageSizeOptions]="[5, 10, 25, 100]"
        aria-label="Select page"
      >
      </mat-paginator>
  </div>
</div>