.page-container {
  background-color: #dadada;
  min-height: 100vh;
  width: 100%;
  padding-bottom: 40px;
}

.toolbar {
  background-color: #f4a300;
  padding: 0 20px;
}

.logo-area {
  display: flex;
  align-items: center;
  gap: 8px;
}

.logo-area img {
  height: 60px;
  margin-bottom: 5px;
}

.logo-area span {
  font-family: 'Sundae Ice', sans-serif;
  color: white;
  font-size: 24px;
}

.spacer {
  flex: 1 1 auto;
}

.user-btn mat-icon {
  margin-right: 5px;
}

.btn-volver {
  margin: 20px;
  margin-left: 40px;
  font-weight: bold;
  color: white !important;
  background-color: #f6a700 !important;
}

.titulo {
  font-size: 60px;
  text-align: center;
  font-family: 'Sundae Ice', sans-serif;
  margin-top: 10px;
  margin-bottom: 15px;
  font-weight: bold;
}

.search-container {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.example-full-width {
  width: 350px !important;
  background: #dadada;
  padding: 0 10px;
  border-radius: 10px;
}

.table-container {
  width: 90%;
  margin: 0 auto;
  background: white;
  border-radius: 12px;
  padding: 10px;
}

.styled-table {
  width: 100%;
  border-collapse: collapse;
}

.styled-table th {
  background-color: #f6a700;
  color: white;
  font-weight: bold;
  text-align: center;
  padding: 12px;
  font-size: 16px;
}

.styled-table td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
  font-size: 15px;
}

.btn-editar {
  background: #ffeaa7;
  padding: 6px 15px;
  border-radius: 10px;
  border: none;
  color: black;
  cursor: pointer;
}

.btn-eliminar {
  background: #ff7675;
  padding: 6px 15px;
  border-radius: 10px;
  border: none;
  color: white;
  cursor: pointer;
}