<div class="page-container">
  <mat-toolbar color="primary" class="toolbar">
    <div class="logo-area">
      <button matIconButton class="Menu-Desplegable" aria-label="Menu">
        <mat-icon>menu</mat-icon>
      </button>
      <img src="assets/images/Menu_LogoBestPrice.png" alt="" />
      <span class="title">ESTPRICE</span>
    </div>

    <span class="spacer"></span>

    <button matIconButton class="Canasta" aria-label="Carrito">
      <mat-icon aria-hidden="false" fontIcon="shopping_cart">shopping_cart</mat-icon>
    </button>

    <button mat-button [matMenuTriggerFor]="userMenu" class="user-btn" (click)="verificar()">
      <mat-icon>account_circle</mat-icon>
      Rol:
      <span>{{ role }}</span>
    </button>

    <mat-menu #userMenu="matMenu">
      <button mat-menu-item routerLink="/perfil"><mat-icon>person</mat-icon> Perfil</button>
      <button mat-menu-item routerLink="/favorites"><mat-icon>favorite</mat-icon> Favoritos</button>
      <button mat-menu-item routerLink="/historial"><mat-icon>history</mat-icon> Historial</button>
      <button mat-menu-item routerLink="/ajustes"><mat-icon>settings</mat-icon> Ajustes</button>
      <button mat-menu-item routerLink="/login" (click)="cerrar()">
        <mat-icon>logout</mat-icon> Cerrar sesión
      </button>
    </mat-menu>
  </mat-toolbar>

  <div class="top-buttons">
    <button mat-raised-button class="btn-volver" routerLink="/menu">
      <mat-icon>arrow_back_ios</mat-icon>Volver
    </button>
    <button mat-raised-button class="btn-lista" routerLink="/detalle/listar">Lista</button>
  </div>
  <div style="text-align: center; margin: 1%">
    <h1 class="titulo">Registro de detalle</h1>

    <div class="form-container">
      <form [formGroup]="form" (submit)="registrar()" class="example-form">
        <ng-container *ngIf="edicion">
          <mat-form-field>
            <mat-label>Código</mat-label>
            <input matInput formControlName="idDetalle" readonly required />
            <mat-error *ngIf="form.get('idDetalle')?.hasError('required')"
              >El campo ID es obligatorio.</mat-error
            >
          </mat-form-field>
        </ng-container>

        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Cantidad de productos en la canasta</mat-label>
          <input matInput formControlName="cantidadCanastaDetalle" required />
          <mat-error *ngIf="form.get('cantidadCanastaDetalle')?.hasError('required')"
            >La cantidad es obligatoria.</mat-error
          >
          <mat-error *ngIf="form.get('cantidadCanastaDetalle')?.hasError('minlength')"
            >Mínimo 9 caracteres.</mat-error
          >
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Productos</mat-label>
          <textarea matInput formControlName="productoCanastaDetalle" required></textarea>
          <mat-error *ngIf="form.get('productoCanastaDetalle')?.hasError('required')"
            >Los productos son obligatorios.</mat-error
          >
          <mat-error *ngIf="form.get('productoCanastaDetalle')?.hasError('maxlength')"
            >Máx. 450 caracteres.</mat-error
          >
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Codigo de Canasta</mat-label>
          <input matInput formControlName="canastaCanastaDetalle" required />
          <mat-error *ngIf="form.get('canastaCanastaDetalle')?.hasError('required')"
            >El numero de canasta es obligatoria.</mat-error
          >
        </mat-form-field>

        <div style="display: flex; gap: 16px; margin-top: 12px">
          <button mat-raised-button class="btn-registrar" type="submit">
            {{ edicion ? 'Guardar' : 'Registrar' }}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
