body {
  background: #d9d9d9;
}

.container {
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background: #f5a623;
  border-radius: 8px;
  margin-bottom: 15px;
}

.logo {
  font-weight: bold;
  font-size: 20px;
}

/* Botones */
.btn-session {
  background: #c4c4c4 !important;
  color: black !important;
}

.btn-volver {
  background: #f5a623 !important;
  color: black !important;
  margin-top: 10px;
  float: left;
}

.btn-nuevo {
  background: #e8e8e8 !important;
  color: black !important;
}

.btn-agregar {
  background: #8ec9a9 !important;
  color: black !important;
}

.btn-eliminar {
  background: #e97a7a !important;
  color: white !important;
}

.title {
  margin-top: 60px;
  font-size: 48px;
  font-family: 'Comic Neue', cursive;
}

/* Search section */
.search-section {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 10px;
}

.search-input {
  width: 330px;
  padding: 10px;
  border-radius: 8px;
  border: none;
  margin: 30px 0;
}

/* Input */
.input {
  width: 300px;
  padding: 8px;
  border-radius: 6px;
  margin-bottom: 20px;
  background: white;
}

/* Tabla */
.tabla {
  width: 70%;
  margin: 0 auto;
  border-collapse: collapse;
  background: #fff8dc;
}

.tabla th {
  background: #f5a623;
  padding: 10px;
}

.tabla td {
  padding: 10px;
  border: 1px solid #ccc;
}

/* Botonera */
.btn-area {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 50px;
}
