<div class="container">

  <header class="header">
    <span class="logo">Bestprice</span>

    <button mat-raised-button class="btn-session">Cerrar Sesión</button>
  </header>

  <button mat-raised-button class="btn-volver">Volver</button>

  <h1 class="title">Registrar Linea de Tienda</h1>

  <div class="search-section">
    <input matInput type="text" placeholder="Buscar" class="search-input" (input)="filtrar($event)">
    
  </div>

  <label class="label">Nombre: </label>

  <input matInput class="input"
         placeholder="Ingrese el nombre de la linea de tiendas"
         [value]="campo()"
         (input)="campo.set($event.target.value)">

  <table class="tabla">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
      </tr>
    </thead>

    <tbody>
      @for (item of listaFiltrada(); track item.id) {
        <tr>
          <td>{{ item.id }}</td>
          <td>{{ item.nombre }}</td>
        </tr>
      }
    </tbody>
  </table>

  <div class="btn-area">
    <button mat-raised-button color="primary" class="btn-agregar" (click)="agregar()">
      Agregar
    </button>

    <button mat-raised-button color="warn" class="btn-eliminar" (click)="eliminar()">
      Eliminar
    </button>
  </div>

</div>
