<!-- CONTENEDOR GENERAL PARA EL FONDO -->
<div class="page-container">

  <!-- ENCABEZADO -->
  <mat-toolbar color="primary" class="toolbar">
  <div class="logo-area">
    <button matIconButton class="Menu-Desplegable" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <img src="assets/images/Menu_LogoBestPrice.png" alt="">
    <span class="title">ESTPRICE</span>
  </div>

  <span class="spacer"></span>

<button matIconButton class="Canasta" aria-label="Example icon-button with menu icon">
       <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="shopping_cart"></mat-icon>
    </button>

  <button mat-button [matMenuTriggerFor]="userMenu" class="user-btn">
    <mat-icon>account_circle</mat-icon>
    user_admin
  </button>

  <mat-menu #userMenu="matMenu">
    <button mat-menu-item routerLink="/perfil">
      <mat-icon>person</mat-icon> Perfil
    </button>
    <button mat-menu-item routerLink="/favorites">
      <mat-icon>favorites</mat-icon> Favoritos
    </button>
    <button mat-menu-item routerLink="/historial">
      <mat-icon>history</mat-icon> Historial
    </button>
    <button mat-menu-item routerLink="/ajustes">
      <mat-icon>settings</mat-icon> Ajustes
    </button>
    <button mat-menu-item routerLink="/logout">
      <mat-icon>logout</mat-icon> Cerrar sesión
    </button>
  </mat-menu>
</mat-toolbar>

  <!-- BOTÓN VOLVER -->
  <button mat-raised-button class="btn-volver" routerLink="/menu">
    Volver
  </button>

  <!-- TÍTULO CENTRAL -->
  <h1 class="titulo">Registro de Linea de Tiendas</h1>

  <!-- FORMULARIO -->
  <div class="form-container">
    <form [formGroup]="form" (submit)="registrar()" class="example-form">
      @if (edicion) {
        <mat-form-field>
        <mat-label>Código</mat-label>
        <input matInput formControlName="id"  required/>

        @if (form.get('id')?.hasError('required')) {
        <mat-error>El campo id es obligatorio.</mat-error>
        } 
      </mat-form-field>
    }

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Nombre</mat-label>
        <input matInput formControlName="nombre">

        @if (form.get('nombre')?.hasError('required')) {
        <mat-error>El campo nombre es obligatorio.</mat-error>
        } 
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Detalle</mat-label>
        <textarea matInput formControlName="detalle"></textarea>
        @if (form.get('detalle')?.hasError('required')) {
        <mat-error>El campo detalle es obligatorio.</mat-error>
        } 
      </mat-form-field>
      @if (!edicion) {
      <button mat-raised-button class="btn-registrar" type="submit">
        Registrar
      </button>
    }
      @if (edicion) {
      <button mat-raised-button class="btn-registrar" type="submit">
        Guardar
      </button>
    }
    </form>
  </div>

</div>
