
.hero-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000;
  color: white;
  padding: 3rem;
  min-height: 85vh;
  background-image: url("/assets/media/Fondo_Bienvenida.jpg");
  background-size: cover;
}

.hero-content {
  flex: 1;
  padding-right: 2rem;
}

.hero-content h1 {
  font-family: 'Sundae Ice', cursive;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.hero-content p {
  font-size: 1.1rem;
  font-weight: 500;
  font-family: 'Bainsley', sans-serif;
}

.hero-image {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.hero-image img {
  width: 90%;
  border-radius: 10px;
  object-fit: cover;
}

/* === RESPONSIVE === */
@media (max-width: 900px) {
  .hero-section {
    flex-direction: column;
    text-align: center;
  }
  .hero-image {
    justify-content: center;
    margin-top: 2rem;
  }
  .hero-image img {
    width: 100%;
  }
}