.navbar {
  background-color: #f5a300;
  color: white;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
}

.logo {
  font-family: "Fredoka One", cursive;
  font-size: 1.8rem;
}

.navbar-center {
  display: flex;
  gap: 1rem;
}

.navbar-center button {
  color: white;
  font-weight: bold;
}

.btn-cuenta {
  border-radius: 50px;
  background-color: white;
  color: black;
  font-weight: bold;
}

.menu-icon {
  display: none;
  background: none;
  border: none;
  color: white;
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  height: 100vh;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  transition: width 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mobile-menu.open {
  width: 100%;
}

.close-icon {
  position: absolute;
  top: 20px;
  right: 30px;
  color: white;
}

.mobile-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.mobile-links a {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
}

@media (max-width: 900px) {
  .navbar-center {
    display: none;
  }
  .menu-icon {
    display: block;
  }
}
